{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h1>Acteurs</h1>

    <section>
    
    <ul>
        {% for actor in actors %}

            <li><a href="{{ path('actor_show', {actorID: actor.id}) }}">{{ actor.name}}</a></li>

        {% endfor %}
    </ul>
    
    </section>


{% endblock %}